.pagination{
	.next{
		float:right;
	}
	.next,.previous{
		display: inline-block;
		background: $blue;
		padding: 7px 10px 5px;
		border-radius: 5px;
		color:white;
		&:hover{
			box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
			background: $blue2;
		}
	}
	margin:0;
	padding-top: 20px;
	height:60px;
}
.wrapper-footer {
  margin-top: 50px;
  margin-bottom: -50px;
  padding-bottom: 50px;
  border-top: 1px solid darken($blue,20%);
  border-bottom: 1px solid #ddd;
  background: linear-gradient(to bottom,$blue,$blue2);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

footer {
  padding: 20px 0;
  text-align: center;
}